<div id="signup_form">
  <form method="POST">
    <label>login: 
      <input type="text" name="login" id="login">
    </label>
  
    <label>email:
      <input type="email" name="email" id="email">
    </label>
  
    <label>password:
      <input type="password" name="password" id="password">
    </label>
  
    <input type="submit" value="signup">
  </form>
  <div class="clearfix"></div>
</div>